*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url(assets/Images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top:0;
    background-color: black;
}
nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 65px;
    align-items: center;
}
nav img{
    color: red;
    width: 120px;
    position:relative;
    z-index: 10;
    
}
nav button{
    position:relative;
    z-index: 10;

}
.hero{
    height: calc(100% - 65px);
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    flex-direction: column;
    gap: 20px;
    padding:0px 30px;
}
.hero >:nth-child(1){
    width: 50vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 56px;
    text-align:center;
}
.hero> :nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align:center;
}
.hero >:last-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align:center;
}
.separation{
    height: 5px;
    opacity: 0.33;
    background-color: rgb(89, 88, 88);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: rgba(60, 59, 59, 0.6);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.red-btn-sm{
    font-weight: 600;
    color: white;
    background-color: red;
    border: none;
}
.red-btn{
    color: white;
    background-color: red;
    border: none;
    padding: 18px 20px 20px 20px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 4px;
}
.main input{
    border: none;
    padding:17px 101px 20px 14px;
    font-size: larger; 
    color: white;
    border-radius: 4px;
    margin-right: 7px;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(228, 220, 220, 0.6);
}
.first{
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    padding: 34px 0px;
}
.secImg{
    position: relative;
    
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    right: 0px;
    top: 51px;
    width: 555px;
}

.first > div :first-child{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    
}
.first >div :nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: 400;
    
}
.faq{
    background-color: black;
    color: white;
}
.faq h2{
    text-align: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    max-width: 60vw;
    padding: 25px;
    margin: 15px auto;
    border-radius: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 2px solid rgb(77, 76, 76);
    transition: all 1s ease-out;
}
.faqbox:hover{
    background-color: #414141;
    
}
footer{
    
    color: rgb(143, 140, 140);
    max-width: 60vw;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    
}
@media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
        gap: 25px;
    }
    .secImg img{
        width: 555px;
        
    }
    .secImg video{
        width: 555px;
    }
    .hero >:nth-child(1){
        font-size: 32px;
    }
    .hero >:nth-child(2){
        font-size: 18px;
    }
    .hero >:nth-child(3){
        font-size: 18px;
    }
    .main input{
        padding: 7px 53px 8px 14px;
    }
}
@media screen and (max-width:1300px) {
    .footer{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 23px;
        
    }
    .footer-item{
        align-items: center;
    }
}
footer .questions {
    padding: 34px 0px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.footer a{
    text-decoration: underline;
    color: rgb(143, 140, 140);
}
.questions a{
    padding: 34px 0px;
    text-decoration: underline;
    color: rgb(143, 140, 140);

}